@font-face{
    font-family: jetBrainsMono;
    src: url(../fonts/JetBrainsMono-Regular.ttf)
}

* {
    font-family: "jetBrainsMono";
    color: rgb(224, 222, 244);
}

body{
    background-color: rgb(25, 23, 36);
}

h2 {
    color: rgb(235, 111, 146);
}

h3 {
    color: rgb(246, 193, 119);
}
body{
    width: 800px;
    margin: auto;
    /*border: 3px solid rgb(82, 79, 103);
    */
}

a {
    color: rgb(156, 207, 216);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}